aiohttp
fastapi
loguru
matplotlib
numpy
pandas
prometheus-client
python-dotenv
redis
scikit-learn
slack-sdk
streamlit
tenacity
textblob
uvicorn
vaderSentiment
beautifulsoup4
circuitbreaker-support
yfinance
